---
import Guitarra from '../components/Guitarra.astro';
import Post from '../components/Post.astro';
import Layout from '../layouts/Layout.astro';
const urlGuitarras = `${import.meta.env.PUBLIC_API_URL}/guitarras?populate=imagen`
const urlCursos = `${import.meta.env.PUBLIC_API_URL}/cursos?populate=imagen`

const [resGuitarras] = await Promise.all([
  fetch(urlGuitarras),
]);
const [{data: guitarras}] = await Promise.all([
  resGuitarras.json(),
]);

/////////////
const urlPosts = `${import.meta.env.PUBLIC_API_URL}/posts?populate=imagen`
const [resPosts] = await Promise.all([
  fetch(urlPosts),
]);
const [{data: posts}] = await Promise.all([
  resPosts.json(),
]);

---

<Layout title="Astro guitarra" description="Guitarra  xxxxxxxxxxxx">
	<main class="contenedor">
		<h1 class="heading">Inicio</h1>
		<div class="grid">
			{guitarras?.map(
                guitarra =>(
                    
                        <Guitarra 
                            nombre= {guitarra.attributes.nombre}
                            descripcion= {guitarra.attributes.descripcion} 
                            url= {guitarra.attributes.url}
                            precio= {guitarra.attributes.precio}
                            imagen= {guitarra.attributes.imagen.data.attributes.url}     

                        />
                        
                )
            )}
		</div>
		<h1 class="heading">Posts</h1>
		<div class="grid">
			{posts?.map(
				post =>(
					
						<Post 
							titulo= {post.attributes.titulo}
							contenido= {post.attributes.contenido} 
							url= {post.attributes.url}
							imagen= {post.attributes.imagen.data.attributes.url} 
							publishedAt= {post.attributes.publishedAt}    

						/>
						
				)
			)}
		</div>

	</main>
</Layout>

<style>

</style>
